# Requirements for PhySO
# Install via conda : conda install --file requirements.txt

pytorch >= 1.11.0
sympy
matplotlib
numpy
tqdm
pandas
pip
scikit-learn # For Feynman benchmark analysis script and for density in monitoring plots
jupyterlab # For running the notebooks

