# Requirements for display purposes (optional)
# Install via pip : pip install -r requirements_display2.txt

# Only available via pip
dot2tex == 2.11.3
pdflatex == 0.1.3
pdf2image == 1.16.0
pillow >= 9.0.1